:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 6rem;
  --section-background: #f6f6f6;
  --section-margin-top: 4rem;
  --transition-duration: 0.3s;
  --paragraph-color: #777;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* this will be  1rem equivalent to 10px */
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Small screen */
@media screen and (min-width: 768px) {
  .container {
    width: 75rem;
  }
}
/* Medium screen */
@media screen and (min-width: 992px) {
  .container {
    width: 97rem;
  }
}
/* Large screen */
@media screen and (min-width: 1200px) {
  .container {
    width: 117rem;
  }
}

/*Start Components*/
.special-heading {
  color: #ebeced;
  font-size: 10rem;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-heading + p {
  margin: -3rem 0 0;
  font-size: 2rem;
  text-align: center;
  color: #797979;
}

@media screen and (max-width: 767px) {
  .special-heading {
    font-size: 6rem;
  }
  .special-heading + p {
    margin-top: -2rem;
  }
}

.grid-3x {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
/*End Components*/

/*Start Header */
.header {
  padding: 2rem;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 6rem;
  height: 2.4rem;
}

.header .links {
  position: relative;
}

.header .links .icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 3rem;
  width: 30px;
}

.header .links .icon span {
  background-color: #333;
  height: 2px;
  margin-bottom: 5px;
}

.header .links .icon span:first-child {
  width: 100%;
}

.header .links .icon span:nth-child(2) {
  transition: var(--transition-duration);
  width: 60%;
}

.header .links .icon span:nth-child(3) {
  width: 100%;
}

.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .links ul {
  display: none;
  list-style: none;
  margin: 0;
  min-width: 200px;
  padding: 0;
  position: absolute;
  right: 0;
  top: calc(100% + 1.5rem);
  z-index: 1; /* to make it appear above the landing element */
}

.header .links:hover ul {
  display: block;
}

.header .links ul::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent #f3f3f3 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

.header .links ul a {
  color: #333;
  display: block;
  padding: 1.5rem;
  text-decoration: none;
  transition: var(--transition-duration);
}

.header .links ul a:hover {
  color: #5c5a5a;
  padding-left: 2.5px;
}

.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */

/* Start Landing Section */
.landing {
  background-image: url(../imgs/landing.webp);
  clip-path: polygon(0 0, 100% 0%, 100% 82%, 0% 100%);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.8;
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-weight: bold;
  font-size: 5rem;
}
.landing .intro-text p {
  font-size: 1.9rem;
  text-shadow: 0 0 3px white;
}
/* End Landing Section */

/*Start Features Section */
.features {
  background-color: var(--section-background);
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}

.features .container {
  gap: 2rem;
}

.features .feat {
  padding: 2rem;
  text-align: center;
}

.features .feat i {
  color: var(--main-color);
  font-size: 4rem;
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  color: var(--paragraph-color);
  font-size: 1.7rem;
  line-height: 1.8;
}
/*End Features Section */

/*Start Services*/
.services {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}

.services .services-content {
  gap: 3rem;
  margin-top: var(--section-margin-top);
}

.services .services-content .service {
  align-items: baseline;
  display: flex;
  margin-bottom: 4rem;
}

.services .services-content .service i {
  color: var(--main-color);
  flex-basis: 6rem;
}

.services .services-content .service .text {
  flex: 1;
}

.services .services-content .service .text h3 {
  margin: 0 0 20px;
}

.services .services-content .service .text p {
  color: var(--paragraph-color);
  font-weight: 300;
  line-height: 1.6;
}

.services .services-content .image {
  position: relative;
  text-align: center;
}

.services .services-content .image img {
  width: 260px;
  height: 35rem;
}

.services .services-content .image::before {
  content: "";
  background-color: var(--secondary-color);
  height: calc(100% + 5rem);
  position: absolute;
  right: 0;
  top: -2.5rem;
  width: 10rem;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .services .services-content .service {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .image-service {
    display: none;
  }
}
/*End Services*/

/*Start Portfolio*/
.portfolio {
  background-color: var(--section-background);
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}

.portfolio .portfolio-content {
  gap: 3rem;
  margin-top: var(--section-margin-top);
}

.portfolio .portfolio-content .card {
  text-align: center;
  background-color: white;
}

.portfolio .portfolio-content .card img {
  width: 100%;
  height: 36rem;
  object-fit: cover;
}

.portfolio .portfolio-content .card .info {
  padding: 2rem;
}

.portfolio .portfolio-content .card h3 {
  margin: 0;
}

.portfolio .portfolio-content .card p {
  color: var(--paragraph-color);
  font-weight: 300;
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .portfolio .portfolio-content {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio .portfolio-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*End Portfolio*/

/*Start About*/
.about {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--section-margin-top);
}

@media screen and (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}

.about .about-image {
  width: 300px;
  height: 400px;
  position: relative;
}

@media screen and (max-width: 991px) {
  .about .about-image {
    margin: 0 auto 6rem;
  }
}

.about .about-image img {
  width: 300px;
  height: 400px;
}

.about .about-image::before {
  content: "";
  position: absolute;
  background: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .about-image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 280px;
  z-index: -1;
  border-left: 60px solid var(--main-color);
  border-bottom: 60px solid var(--main-color);
  right: -86px;
  top: -23px;
}

@media screen and (max-width: 991px) {
  .about .about-image::before,
  .about .about-image::after {
    display: none;
  }
}

.about .about-content .about-text {
  flex-basis: calc(100% - 500px);
}

.about .about-content .about-text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 5rem;
}

.about .about-content .about-text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}

.about .about-content .about-text p:last-of-type {
  line-height: 2;
  color: var(--paragraph-color);
}
/*End About*/

/*Start Contact*/
.contact {
  background-color: var(--section-background);
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}

.contact .contact-content {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
  text-align: center;
}

.contact .contact-content .label {
  color: var(--secondary-color);
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: -2px;
  margin-bottom: 1.5rem;
}

.contact .contact-content .link {
  color: var(--main-color);
  display: block;
  font-size: 3.5rem;
  font-weight: 800;
  text-decoration: none;
}

.contact .contact-content .social {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  margin-top: 2rem;
}

.contact .contact-content .social i {
  color: var(--secondary-color);
  margin-left: 1rem;
}

@media screen and (max-width: 767px) {
  .contact .contact-content .label,
  .contact .contact-content .link {
    font-size: 2.5rem;
  }
}
/*End Contact*/

/*Start Footer*/
.footer {
  background-color: var(--secondary-color);
  color: white;
  font-size: 1.8rem;
  padding: 30px 10px;
  text-align: center;
}

.footer span {
  color: var(--main-color);
  font-weight: bold;
}
/*End Footer*/
